TZ=Europe/Paris
PORTAINER_TAG=lts
PORTAINER_CONTAINER_NAME=portainer
PORTAINER_HOSTNAME=portainer
PORTAINER_EDGE_PORT=8000
PORTAINER_HTTPS_PORT=9443
PORTAINER_NETWORK_NAME=portainer_net
PORTAINER_VOLUME_NAME=portainer_data
DOCKER_LOG_MAX_SIZE=10m
DOCKER_LOG_MAX_FILE=3
